body {
    width: 100%;
    background: #1d1d1f;
    font-family: monospace;
    font-size: 20px;
    margin: 0 !important;
    color: white;
}

.all {
    width: 100%;

}

.wstawka {
    width: 100%;
    padding: 40px 0;
}

.logo {
    width: auto;
    font-size: 50px;
    margin-top: auto;
    margin-left: auto;
    text-align: center;
}

.naw {
    width: 100%;
    padding: 10px 0;
    height: 30px;
    background: #1a1738;
    border-top: 3px solid #f9f2b0;
    border-bottom: 3px solid #f9f2b0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 20px;
    height: 30px;
    line-height: 100%;
    width: 150%;
    display: inline-block;
}

ol a {
    text-decoration: none;
    display: block;
    color: white;
    width: 100%;
}

ol>li {
    float: left;
    width: 16.309%;
    height: 100%;
    border-right: 3px solid #f9f2b0;
}

ol>li:hover {
    background-color: #1e1579;
}

ol>li:first-child {
    border-left: 3px solid #f9f2b0;
}

.info {
    display: flex;
}

.png {
    margin-top: 10px;
    margin-left: 10px;
    border: #faed7e solid 3px;
    width: 200px;
    border-radius: 10px;
    background: #1a1738;
}

.png2 {
    margin-top: 10px;
    margin-left: 10px;
    border: #faed7e solid 3px;
    width: 100px;
    border-radius: 10px;
    background: #1a1738;
}

.box {
    width: 130%;
    border: #151333 solid 5px;
    margin-left: 50px;
    border-radius: 10px;
    height: 785px;
    background: #09071f;
}

.info2 {
    width: 90%;

}

.nazwa {
    font-size: 40px;
    text-align: center;
}

.tabela {
    border: #faed7e solid 3px;
    margin: 10px;
    height: 150px;
    text-align: center;
    background: #1a1738;
}

.players {
    border: #faed7e solid 3px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    text-align: center;
    background: #1a1738;
    display: flex;
}

.flex {
    display: flex;
}

.b1 {
    background: #fd0505;
    display: none;
}

.b1 {
    background: #92fd05;
}


.border1 {
    width: 15%;
    border-right: #faed7e solid 3px;
}

.border2 {
    width: 30%;
    border-right: #faed7e solid 3px;
}

.border3 {
    width: 12%;
    border-right: #faed7e solid 3px;
}

.border4 {
    width: 12%;

}

.modal {
    position: fixed;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    padding: 10px;
    border-radius: 10px;
    color: white;
    z-index: 111;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

#overlay {
    position: fixed;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(00, 00, 00, 0);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
    background-color: rgb(00, 00, 00, 0.5);
}

.lista {
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.loader {
    position: absolute;
    margin: 60px;
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid gray;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}